<p id="notice"><%= notice %></p>

<h1>Collections</h1>
<div class="text-center">
<div class ="btn-group gap-2 col-md-2  mx-3 " >
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      
    </tr>

  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.name %></td>
        <td>
        
        <td><%= link_to 'Show', collection, class:"btn btn-dark"; %></td>
        <td><%= link_to 'Edit', edit_collection_path(collection), class:"btn btn-dark"; %></td> 
        <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-dark"; %></td>
        </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>


