<<<<<<< HEAD
<div class="container">
  <div class="row align-items-start">
    <h1>Log In</h1>
  </div>
</div>

<div class="grid container align-items-center">
   <div class="text-center p-3">
   <%= form_tag '/login' do %>
   <grid item xs={6}> 
      <%= label_tag :email%><br>
   </grid>   
   <grid item xs={6}>
      <%= text_field_tag :email %><br>
   </grid>
   <grid item xs={6}>
      <%= label_tag :password%><br>
   </grid>
   <grid item xs={6}>
      <%= password_field_tag :password%><br>
   </grid>
   <grid item xs={6}>
      <%= submit_tag "Login" , class: 'btn btn-dark'%>
   </grid>
  
   </div>
</div>

<%end%>


=======
<h1>Login</h1>
   <%= form_tag '/login' do %>
   <%= label_tag :email%>
   <%= text_field_tag :email %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Login"%>
<%end%>
>>>>>>> parent of 5745e8c (Boostrap changes x2)
