<%= form_with model: note do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% note.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <% note.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
        <%= form.label :image %><br>
        <%= form.text_field :image %>
    </div>

      <%= form.select :collection_id, @collections.map { |c| [c.name, c.id] } << ['None', nil] %>
    
    <div>

      <%= form.submit class: "btn btn-dark mt-2" %>
    </div>
  <% end %>
  

  