<%= form_with model: user do |form| %>
    
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
      <% user.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %><br>
      <% user.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    
    <div>

    <% if user.permission_level == 1 %>
        <%= check_box_tag user.permission_level, 1, false %> Admin

    <% else %>
        <%= check_box_tag user.permission_level, 2, true %> Admin
    <%end%>
        
    </div>
  
    <div>
      <%= form.submit class: "boton" %>
    </div>
<%end%>