<div class="container">
  <div class="row align-items-center">
    <h1>Edit User</h1>
  </div>
</div>

<div class="grid container justify-content-md-center">
<%= form_for @user do |f|%>

    <div class="field">
        <%= f.label :email%><br>
        <%= f.text_field :email%><br>
    </div>

    <div class="field">
        <%= f.label :password%><br>
        <%= f.password_field :password%><br>
    </div>

    <% if is_admin? %>
        <div class="field">
            <%= f.label :admin %>
            <%= f.check_box :admin %> 
        </div>

    <%end%>
    <br>
    <%= f.submit:Update, class: 'btn btn-dark'%>
<%end%>

</div>
</div>