<div class="container">
  <div class="row align-items-center">
    <h1>Sign Up!</h1>
  </div>
</div>


<div class ="grid container justify-content-md-center">


<%= form_for @user do |f|%>
        <grid item xs={6}>
            <%= f.label :email%><br>
        </grid>
        <grid item xs={6}>
            <%= f.text_field :email%><br>
        </grid>
        <grid item xs={6}>
            <%= f.label :password%><br>
        </grid>
        <div class="row justify-content-md-center">
            <grid item xs={6}>
        <%= f.password_field :password%><br>
            </grid>
        <grid item xs={6}>
          <%= f.label :admin %>
        </grid>
        <grid item xs={6}>
            <%= f.check_box :admin %>
        </grid>
        <grid item xs={6}>
            <%= f.submit:Create, class: 'btn btn-dark' %>
        </grid>
    </div>
</div>

<%end%>
