<header>
    <div class="h1_container">
    <h2>Welcome to our spidey-notes app!</h2>
       <%= image_tag "spider.jpeg", class: "image1"%>
        <nav>
            <ul>
            <li> <%= link_to "Home" ,root_path, class: "boton"%></li>
            <li> <%= link_to "Collections",root_path, class: "boton"%></li>
            <li> <%= link_to "Friends",new_note_path, class: "boton" %></li>
            <% if user_signed_in? %>
                <% if current_user.is_admin? %>
                    <li> <%= link_to "Users" ,root_path, class: "boton"%> </li>
                <%end%>
            <%end%>   
            <p style= "color:#364A73"> 
            _
            </p>        
            <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li> |
                <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
            <% end %>
            </ul>
        </nav>
    </div>
</header>